 @import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: "Roboto", sans-serif;
  background: #005EB8;
  
}
.axianslogo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1,h2,p {
  text-align: center;
  color: black;
}

form {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px;
  width: 100%;
  max-width: 450px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.group_form {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding: 20px;
  width: 100%;
  max-width: 450px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sushiList{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
}

.group {
  position: relative;
  width: 100%;
  text-align: center;
}

input[type=text] {
  font-size: 16px;
  color: black;
  margin-bottom: 55px;
  display: block;
  width: 100%;
  position: relative;
  border: none;
  outline: 0;
  border-bottom: 1px solid black;
}


label {
  position: absolute;
  pointer-events: none;
  left:5px;
  font-size: 14px;
  color: black;
  top: 1px;
  transition: all 300ms ease; 
}

input:focus + label {
    top: -20px;
    font-size: 10px;
}

input:valid + label {
  top: -20px;
  font-size: 10px;
}

button {
  border: solid 1px transparent;
  background: black;
  color: white;
  padding: 10px 50px;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  transition: 300ms;
}

button:hover {
  cursor: pointer;
  background: white;
  color: black;
  border-color:black;
}
input[type=button] {
    border: solid 1px transparent;
    background: black;
    color: white;
    padding: 10px 50px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    transition: 300ms;
}

input[type=button]:hover {
    cursor: pointer;
    background: white;
    color: black;
    border-color:black;
}